<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/**
 * @var $block \Mau\Payment\Block\Payment\MauPayment\Form
 */
?>
<dl class="items check payable" id="payment_form_<?= $block->escapeHtml($block->getMethodCode()) ?>" style="display:none;">
    <dt class="title"><?= $block->getMethod()->getTitle() ?></dt>
    <dd class="content"><?= $block->getMethod()->getTitle() ?></dd>
</dl>


